.gradient-background {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	      animation: gradient 15s ease infinite;
}
          
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.py-5 {
    padding-bottom: 0%!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color:white;
    background-color:#e73c7e;
}

.nav-link {
    color: white;
}

#testimonial {
    padding-top: 3rem;
}

.mx-auto {
    margin-top: 50px;
    border-radius: 50%
  }

#footer{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
}

#footer > .container > .my-5 {
    margin-bottom: 0%!important;
}